ion-card-title {
  font-weight: 700;
}

ion-item h2 {
  font-weight: 600;
  margin-bottom: 4px;
}

ion-item p {
  font-size: 13px;
  color: var(--ion-color-medium);
}

ion-badge {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: var(--ion-color-medium);
}

p {
  font-size: 16px;
  font-weight: 500;
  margin: 4px 0 0 0;
}
