ion-card-title {
  font-weight: 700;
}

ion-item h2 {
  font-weight: 600;
  margin-bottom: 4px;
}

ion-item p {
  font-size: 13px;
  color: var(--ion-color-medium);
}

ion-badge h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
