.summary-header {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.summary-actions {
  display: flex;
  gap: 6px;
}

.summary-actions ion-button {
  --padding-start: 4px;
  --padding-end: 4px;
  --padding-top: 4px;
  --padding-bottom: 4px;
}


.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-inline::part(start) {
  border-radius: 24px;
}

ion-card {
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
}

ion-card-title {
  font-weight: 700;
}

ion-item h2 {
  font-weight: 600;
  margin-bottom: 4px;
}

ion-item p {
  font-size: 13px;
  color: var(--ion-color-medium);
}

ion-badge h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.equal-cards {
  display: flex;
  padding: 0;
}

.card-equal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student-header-2 {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 8px; 
}

.student-title {
  position: relative;
  left: 8px;
}

.search-below-title::part(start) {
  border-radius: 24px;
  width: 100%; 
}

ion-card-title {
  font-weight: 700;
  text-align: left; 
}

ion-card {
  padding: 0 0 16px 0;
  margin: 0 0 16px 0;
}
