<ion-content>
  <div class="auth-container">
    <ion-card class="ion-padding auth-card">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/landing"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-card-header class="ion-text-center header">
        <div class="icon-container">
          <ion-icon name="shield-checkmark-outline" class="icon" style="font-size: 48px; color: orange"></ion-icon>
        </div>
        <ion-card-title class="ion-margin-top title">Welcome Back</ion-card-title>
        <ion-card-subtitle>Sign in to your account</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="ion-margin-vertical">
          <ion-item lines="full" class="ion-margin-top email-address">
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input type="email" placeholder="john@mail.com" [(ngModel)]="email" class="ion-margin-top">
            </ion-input>
          </ion-item>

          <ion-item lines="full" class="ion-margin-top password-item">
            <ion-label position="stacked">Password</ion-label>
            <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="********" [(ngModel)]="password"
              class="ion-margin-top" aria-label="Password">
              <ion-button fill="clear" size="small" slot="end" (click)="togglePassword()"
                aria-label="Toggle password visibility">
                <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" class="eye"></ion-icon>
              </ion-button>
            </ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" (click)="login()" class="gradient-button login-btn ion-margin-top">
          <!-- <ion-icon name="log-in-outline" slot="start"></ion-icon> -->
          Sign In
        </ion-button>
        <div class="ion-text-center ion-margin-top register-link-container">
          <span style="margin-top: 8px;">Don't have an account?</span>
          <a routerLink="/register" class="register-pill">Register
            <!-- <ion-icon name="person-add-outline"></ion-icon> -->
            <!-- <span>Register</span> -->
          </a>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>